<div {{bem("card", [style], null, null)}}>

    {% if eyebrow %}
    <div class="card__eyebrow">{{eyebrow}}</div>
    {% endif %}

    <{{heading_element}} class="card__heading">
        {{heading}}
    </{{heading_element}}>
    <div>
        {{content}}
    </div> 

    {# buttons #}
    {% if buttons %}
    <div class="card__btn_container">
    {% for button in buttons %}
        {% include "@library/button/button.html.twig" with button %}
    {% endfor %}
    </div>
    {% endif %}

    {# links #}
    {% if links %}
    <div class="card__link_container">
    {% for link in links %}
        {% include "@library/link/link.html.twig" with link %}
    {% endfor %}
    </div>
    {% endif %}

</div>